body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image:url('../images/bg.gif');

}

.form {
  max-width:1200px;
  padding: 1px 15px 15px 15px;
  margin: 0 auto;
  text-align:center;
}
h2, h4 {
    color:white;
}
.form .form-heading,
.form .checkbox {
  margin-bottom: 10px;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  font-size: 14px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    margin-bottom: 10px;
}
.form .form-control:focus {
  z-index: 2;
}
.form input[type="text"] {
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form .btn-width {
        width:90%;
        margin-left:5%;
}
.control-container {
    background: transparent;
    padding: 15px 10px;
}
form .extra-padding {
    padding: 45px 10px;
}
body {
    padding:0px;
}
body .container {
    padding:0px;
    width:100%;
}
.page-nav {
    background-color:black;
    color:white;
    text-align:center;
}
.btn-back {
    position:absolute;
    left:10px;
}
.btn-back > a,
.btn-back > a:hover,
.btn-back > a:focus,
.btn-back > a:visited  {
    text-decoration:none;
    color:white;
}

.control-container > div{
    padding-bottom:15px;
    padding-top:15px;

}
.form .label-white label {
    color:white;
}
.form label {
    font-weight:lighter;
    color:#222;
}
.white {
    color:white;
}
div.separator {
    border-bottom:dotted 1px;
    border-top:dotted 1px;
    padding:0px;
}

div.separator .alert {
    margin:5px 0px;
}
#fb, #mail {
    width:30px;
    height:30px;
}